
.top-header{
    display: flex !important;
    justify-content: space-between !important;
    padding: 1rem 2rem;
    height: 100%;
    align-items: center;
}



a{
    text-decoration: none;
    list-style: none;
    
}
.menu-links{
    display: flex;
    height: 100%;
    align-items: center;
    
}

.menu-links>a{
    color: white;
    margin: 0 .5rem;
    transition: all .5s ease-in-out;
    
    
}


.menu-links>a:hover{
    opacity: .7;
    transition: all .5s ease-in-out;
}